*{
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}

#mainDiv{
    display: flex;
    flex-direction: column;
    margin: auto auto;
   
}

h1 {
    font-size: 1.5em;
    margin: 5px;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h3 {
    font-size:1.5em
}

nav {
    display: flex;
}
nav a{
    font-size: 1.2em;
    text-decoration: none;
    color: inherit;
    padding: 5px;
}


footer a{
    text-decoration: none;
    color:inherit;
}
footer{
    margin: 5%;
}

select{
    
    transition: .2s;
	background: none;
	color: inherit;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
    width: 100%;
	cursor: pointer;
    outline: inherit;
}

.main{
    height: 100vh;
}
.link{
    font-size: 1.2em;
    text-decoration: none;
    color: inherit;
    padding: 5px;
}
.time-button-container{
    display: flex;
    justify-content: center;
    
}
.button{
    text-decoration: none;
    background:inherit;
    border: inherit;
    transition: .4s;
}

.button :hover{
    color: #3D9970;
}
.time-button{
    
    text-decoration: none;
    background:inherit;
    border: inherit;
    font-size: .8em;
    margin: 4px ;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    
}


.linkbar {
    display: flex;
    margin: auto auto;
    
    
}

.linkbar > .link{
    padding: 0 5px;
    font-size: 1em;
}

.data-group{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);   
     
}


.details{
    margin: 12px;
    line-height: 1em;
    justify-content: center;
    border-left: 3px solid rgb(8, 163, 29);
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details > h3{
    margin: 4px 0;
}

.details > h5{
    margin: 4px 0;
}

.data-hud{
    position: absolute;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 95%;
    margin: 4px 0px;

    font-size: .8em;
}



.tool-tip {
    margin: 0 20px;
}

.tool-tip > p {
}

.warning{
    color:orange;
}

.user-validation-form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-54%, -50%);
    width: 90%;
    margin: auto auto;
    padding: 6px;
  
}

.user-validation-form > input{
    width: 100%;
    background: transparent;
    border: 0;
    /* border-bottom: 1px solid; */
    padding: 1em 0 .8em;
    text-align: center;
    font-size: 18px;
    font-family: inherit;
    font-weight: 300;
    /* line-height: 1.5; */
    color: inherit;
    outline: none;
}

.user-validation-form > .button {
    border: 2px solid limegreen;
    border-radius: 14px;
    width: 100%;
    height: 30px;
    font: inherit;
}
.chart-page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

}

.chart-wrapper{

    /* margin: 20px; */
    /* min-height: 600px; */
    /* height: 450px; */
    
}
.chart{
    /* position: relative; */



    
}
.chart-tool-container{
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    font-size: .7em;
    
}
.chart-settings-container{
    /* background: rgba(187, 212, 201, 0.432); */
    
}


.setting-section{
    margin: 6px 0;
}

.chart-settings-form{
    padding: 10px;
    

}

.chart-settings-form > .button{
    width: 100%;
    border-radius: 4px;
}
.color-picker-container{
    display: inline;
    font-size: .8em;
    margin: 2px 6px;
}

.color-picker-container > p {
    display: inline;
}

.color-picker{

	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
}

h5{
    opacity: .7;
}

.link{
    display:flex;
    /* flex-direction: column; */
}

.data-link-title{
    font-size: .7em;
}
.sidebar h3{
    text-align: left;
    margin-left: 20px;
    padding:10px;
}

.sidebar a{
  
    line-height: 2em;
    text-decoration: none;
    color: inherit;
    opacity: 1;

}
.sidebar{
    display: flex;
    justify-content:center; 
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a:hover{
    opacity: .6;
    color: #3D9970;
    transition: .4s;
}

.chart{
    margin: 12px;

}

.submission-field{
    height: 100px;
}

.admin-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 50vw;
}

.admin-form > input{
    padding: 10px;
    margin: 5px 0 ;

}

.favorites-container{
    background: rgba(207, 211, 230, 0.432);
    height: 300px;
}

.favorite-button{
    font-size: 40px;
    transition: .2s;
	background: none;
	color: inherit;
	border: none;
	padding: 5px;
	cursor: pointer;
    outline: inherit;
}

.favorite-button-container{
    position: absolute;
    right:-15%;
    width: 120px;
    height: 80px;
  
}

.update-button{
    transition: .2s;
	background: none;
	color: inherit;
	border: none;
	padding: 5px;
	cursor: pointer;
    outline: inherit;
    border: 2px solid grey;
}

.update-button:hover{
    border: 2px solid gold;

}

.favorite-alert{
    transition: .2s;
    opacity: 0;
    position: relative;
    margin-top: 4px;
    transform: translate(-10%, -50%)
  
}

.alert{
    color:orange;
}



/* Slider */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
@media(min-width: 600px){
    .linkbar{
    
        font-size: 1.3em;
        padding: 10px;
    }
    h1{
        font-size: 4em;
        padding: 5px;
    }
    .chart-page-wrapper{

        display: grid;
        grid-template-columns: auto 70vw;
        grid-gap: 6px;
        
        /* max-width: 1000px; */
    }

    .chart-wrapper{
        grid-column: 1 / 3;
        grid-row: 1 / 2;

    }

    .details{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .tool-collection{
        /* width: 75%; */
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        
    }

}

@media(min-width: 900px){

    h1{
        font-size: 3em;
        padding: 10px;
    }

    .linkbar{
    
        font-size: 1.6em;
        padding: 20px;
    }


}
